* {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    border: none;
}
html {
    scroll-behavior: smooth;
}
html ::-webkit-scrollbar {
    visibility: visible;
    width: 10px;
}
html ::-webkit-scrollbar-track {
    background: black;
}
html ::-webkit-scrollbar-thumb {
    background: rgb(241, 99, 48);
}
body {
    background: black;
}
#logo img {
    height: 50px;
}
header {
    height: 70px;
    margin: 0;
    padding: 0;
    background: rgb(24, 23, 23);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px; 
    position: sticky;
    top : 0;
    z-index: 1000;
}
.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4rem;
    z-index: 1000;
}
.navbar a {
    font-size: 15px;
    text-decoration: none;
    color: white;
    position: relative;
    transition: 0.3s ease-in;
}
#logo {
    margin-right: auto;
}
.btn {
    margin-left: auto;
}
.btn a {
    background: transparent;
    display: inline-block;
    text-decoration: none;
    color: white;
    border: 4px solid rgb(241, 99, 48);
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 7rem;
    transition: 0.5s;
}
.btn a:hover {
    background: rgb(220, 89, 43);
}
.navbar a:hover {
    border-bottom: 3px solid rgb(24, 217, 175);
    padding: 5px;
}
.menu-icon {
    color: white;
    font-size: 30px;
    cursor: pointer;
    display: none;
}

@media (max-width: 768px) {
    .navbar {
        display: none; 
        flex-direction: column;
        gap: 1rem;
        align-items: flex-start;
        position: absolute;
        top: 70px;
        left: 0;
        width: 100%;
        background: rgb(24, 23, 23);
        padding: 1rem;
    }

    .menu-icon {
        display: block; 
    }

    .navbar.active {
        display: flex;
    }

    .navbar a {
        font-size: 18px;
    }

    header {
        padding: 0 1rem;
    }

    .booknow {
        margin-left: 0;
        align-self: flex-end;
    }
}
.home{
        margin-top: 5vmin;
        background: url("images/background.jpg") no-repeat center center; 
        background-size: cover;
        height: 100vh; 
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        color: white; 
        border-radius: 4px;

}
.home-content span{
    font-size: 8vw;
    color: #ff5722;
    -webkit-text-stroke:0.15rem white;
}
.home-content h3{
    font-size: 8vw;
    -webkit-text-stroke: 0.11rem black;
}
.home-content p{
    max-width: 50vw;
    margin: 1rem auto;
    font-size: 2.5vmin;
    color: whitesmoke;
    line-height: 1.5;
}
.about {
    margin-top: 5vmin;
    height: 100vh;
    display: flex;
    align-items: flex-start;
    padding-top: 20vmin;
    
    color: white;
    gap: 6vmin; 
}

.img-container {
    flex: 1;
    max-width: 60vw; 
    max-height: 90vh;
}

.img-container img {
    width: 100%;
    height: 100%;
    border-radius: 8px;
}

.about-content {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.about-content span {
    font-size: 6vw;
    color: #ff5722;
    -webkit-text-stroke: 0.15rem white;
    margin-bottom: 10px;
}

.about-content h3 {
    font-size: 2rem;
    color: #ff5722;
    -webkit-text-stroke: 0.11rem black;
    margin: 10px 0 20px;
}

.about-content p {
    font-size: 1em;
    color: whitesmoke;
    line-height: 1.5em;
    margin: 15px 0;
    max-width: 60vw;
}



.Heading {
    text-align: center;
    margin-bottom: 20px;
    color: #fff;
}

.Heading span {
    display: block;
    font-size: 2rem;
    margin-bottom: 10px;
    color: #ff5722;
}

.Heading h1 {
    font-size: 2.5em;
}

.excars{
    margin-top: 5vmin;
    height: auto;
    padding-top: 18vmin ;
}
.box-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-around;
    margin-top: 10vmin;
    background: rgb(34, 32, 32);
    padding: 5vmin;
}

.box {
    position: relative;
    width: 30%;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    border-radius: 8px;
    overflow: hidden;
    text-align: center;
    background-color: #fff;
    row-gap: 20px;
    margin-bottom: 5vmin;
    z-index: 1;
}

.box img {
    width: 100%;
    height: auto;
    z-index: 1;
}

.box .prize {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 1.2em;
}

.box h3 {
    margin: 10px 0;
    font-size: 1.5em;
}

.box div {
    margin-bottom: 15px;
}


.checked {
    color: orange;
}

.fa-star {
    font-size: 1.2em;
}


.btn1 {
    background: transparent;
    display: inline-block;
    text-decoration: none;
    color: black;
    border: 4px solid rgb(241, 99, 48);
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 7rem;
    transition: 0.5s;
}


.btn1 a {
    text-decoration: none;
    color: black;
    display: block; 
}


.btn1:hover {
    background:#e24110;
}


.btn1:hover a {
    color: black;
}

.review{
    margin-top: 2vmin;
    height: auto;
    padding-top: 10vmin
}

.review .box p {
    margin: 0 auto;
    max-width: 45vmin;
    text-align: center;
    margin-bottom: 2vmin;

}

.review .box img {
    height: 45vh;
}

.review .box-container{
    margin-top: 5vmin;
}
.review .Heading{
    margin-top: 3vmin;
}


.footer {
    background-color: #333;
    color: #fff;
    padding: 40px 0;
    text-align: center;
    margin-top: 8vmin;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.footer-section {
    flex: 1;
    margin: 20px;
    min-width: 250px;
}


.footer-section h2 {
    font-size: 1.8em;
    margin-bottom: 10px;
}

.footer-section p,
.footer-section ul,
.footer-section form {
    font-size: 1em;
    line-height: 1.6em
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 10px;
}

.footer-section ul li a {
    color: #fff;
    text-decoration: none;
}

.footer-section ul li a:hover {
    text-decoration: underline;
}

.footer-section .contact-form input,
.footer-section .contact-form textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
}
.footer-section.contact-form form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 400px;
    row-gap: 2.5vmin;
}

.footer-section .contact-form button {
    background: rgb(241, 99, 48);
    border: none;
    padding: 10px 20px;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    transition: 0.3s;
}

.footer-section .contact-form button:hover {
    background: rgb(220, 89, 43);
}

.footer-bottom {
    background-color: #222;
    color: #aaa;
    padding: 20px 0;
    font-size: 0.9em;
}

.footer-section.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3vmin;
    padding-top: 0;
    height: 68vh;
}

.footer-section .contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (max-width: 768px) {
    .footer-container {
        flex-direction: column;
        align-items: center;
    }

    .footer-section {
        margin: 10px 0;
        max-width: 90%;
    }
}

